.aui.container {
    display: block;
    max-width: 100% !important;
}

@media only screen and (max-width: 767px) {
    .aui.container {
        margin-left: 1em !important;
        margin-right: 1em !important;
        width: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .aui.container {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 723px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .aui.container {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 933px;
    }
}

@media only screen and (min-width: 1200px) {
    .aui.container {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 1127px;
    }
}